@model Units.Controllers.StatusVM
    
<div>Cache: @Model.CacheConnected</div>
<div>RedisHost: @Model.RedisHost</div>
<div>DefaultConnection: @Model.DefaultConnection</div>
<div>DBStatus: @Model.DBStatus</div>