@{
    ViewBag.Title = "Home Page";
}

<p>@Html.ActionLink("Students", "Index", "Students")</p>
<p>@Html.ActionLink("Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("Grades", "Index", "Grades")</p>